
@import url("../../public/fonts/chillax/css/chillax.css");
@import url("../../public/fonts/archivo/css/archivo.css");

@tailwind base;
@tailwind components;
@tailwind utilities;



.color-olive {
  background-color: #706947;
}

.color-green {
  background-color: #2D5C43;
}

.color-purple {
  background-color: #393158;
}

.color-ocean {
  background-color: #2A5259;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer utilities {

  .hero {
    @apply relative w-full justify-center  overflow-hidden bg-hero bg-center bg-cover bg-no-repeat px-8 py-16 text-white sm:py-32 lg:px-24 xl:max-h-[900px]
  }

  
}